.nav {
	padding: 20px 10px;
	font-family: var.$font_headings;

	a {
		@include mixins.underline;
		color: inherit;
		text-decoration: none;

		&:after {
			content: normal;
		}

		&:hover, &:focus {
			&:after {
				content: '';
			}
		}
	}
}

.client {
	margin: 20px 0 10px;
	font-weight: bold;
}

.link {
	display: flex;
	align-items: center;
	margin-left: 0.5ch;

	svg {
		height: 1.2em;
		margin-right: 1ch;
		color: transparent;

		*[class$='cls-p'] {
			color: var.$neutral;
		}

		*[class$='cls-b'] {
			color: transparent;
		}
	}
}
