.user {
	font-size: 0.8em;
}

.button {
	--button_background: #{var.$primary_light_50};
	--button_border: #{var.$primary_light_50};
	--button_text: #{var.$primary_dark_25};
	--button_shadow: #{var.$primary_dark_75};

	margin-left: 10px;
	padding: 5px 10px;
	font-size: 1em;
	font-weight: 400;
	text-transform: none;

	composes: button from '../../../../lib/parts/forms/button/button.module.scss';
}
